/laiye/node_modules
/dva-test-failer/node_modules
.idea
/vue/vue-cli-4.0.0-alpha.5
/c/cpp/cpptest1/.vs
/c/cpp/cpptest1/.idea
/c/cpp/cpptest1/cmake-build-default
/c/cpp/cpptest1/cmake-build-default-mingw
/c/cpp/cpptest1/Debug
/c/cpp/cpptest1/x64
/c/cpp/clion/.idea
/c/cpp/clion/cmake-build-debug
