.mk-login {
    width: 100vw;
    height: 100vh;
    /* background: #E8F2FC; */
    background:#40a9ff;
    position: relative;
}
.mk-login .w {
    width: 600px;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -275px;
    margin-left: -300px;

}
 
.mk-logo {
    width: 116px;
    margin-bottom: 20px;
}
.mk-login-img:first-child .text {
    font-size:36px;
    color: #5F6978;
    font-weight:400;
    opacity: 0.6;
}
.mk-logo-from {
    width: 100%; 
    /* margin-left: 10%; */
    height: 370px;
    background:#fff;
    border-radius:6px;
    overflow: hidden;
    text-align: left;
   
}
.mk-from-top {
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background: #E7E9ED;
    font-size:20px;
    font-weight:400;
    color:rgba(26,26,26,0.87);
}
.mk-logo-from .input {
    width: 100%;
    height: 48px;
    margin:20px 0;
    border: 1px solid #DDDDDD;
    border-radius:4px;
    padding: 0 20px;
}
.mk-from-box {
    width: 100%;
    padding: 0 10%;
}
.mk-from-btn{
    text-align: center;
    width: 100%;
    height: 48px;
    line-height: 48px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    background:linear-gradient(90deg,#1B71FF 0%,#112DDE 100%);
    border-radius:4px;
    margin-top: 20px;
    cursor: pointer;
}
.mk-login-end {
    width: 100%;
    text-align: center;
    font-size:12px;
    font-family:ArialMT;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:20px;
    position: absolute;
    bottom: -30px;
    
}
