@import "partials/_variables.scss";
@import "partials/_mixins.scss";
@import "partials/_main.scss";

body {

}


.app {
  position: relative;
  width: 100%;
  height: 100%;
}

.ball {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: var(--purple);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  font-size: 18px;
  transform-origin: 50% 100%;
}

.area {
  width: 300px;
  height: 300px;
  border-bottom: 3px solid var(--pink);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.box {
  width: 100px;
  height: 100px;
  background: var(--pink);
  transform-origin: 50% 50%;
  opacity: 0;
}

button {
  display:flex;
  height:5vh;
}
.sidepanel {
  width: 300px;
  height: 80vh;
  background: #eee;
  padding: 30px;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  position: absolute;
  top: 50px;
  bottom: 0;
}

.item {
  background: #43415F;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  opacity: 0;
  margin-bottom: 10px;
  transform-origin-y: 0%;
  color: white;

  &:nth-child(1) {
    background: #F69A9A;
  }

  &:nth-child(2) {
    background: #83AE9B;
  }

  &:nth-child(3) {
    background: #EF4566;
  }

  &:nth-child(4) {
    background: #F9CDAE;
  }

  &:nth-child(5) {
    background: #C8C8A9;
  }
}

.d0 {
  border-radius: 4px;
  background-color: rgb(240, 240, 232);
  position: relative;
  margin: 5px 3px 10px;
  width: 450px;
  height: 50px;
}
.d0-block {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background-color: rgb(130, 181, 198);
}


.demo1 {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #EEE;
}

.demo1-ball {
  border-radius: 99px;
  background-color: white;
  width: 50px;
  height: 50px;
  border: 3px solid white;
  position: absolute;
  background-size: 50px;
}

.ball-0 {
  background-image: url('/img/0.jpg');
}

.ball-1 {
  background-image: url('/img/1.jpg');
}

.ball-2 {
  background-image: url('/img/2.jpg');
}

.ball-3 {
  background-image: url('/img/3.jpg');
}

.ball-4 {
  background-image: url('/img/4.jpg');
}

.ball-5 {
  background-image: url('/img/5.jpg');
}