 
.article{
    font-size: .19rem;
    line-height: .3rem;
    margin-bottom: 40px;
}
.article p.align
{
   text-align: center; 
}
.article p.align span
{
   display: inline-block;
   text-align: left; 
}
.textarea,.uEidt {
    padding: 0 0 10px;
    max-width: 740px;
    margin: 0 auto;
    background: #fff;
}

.uEidt { 
    margin-bottom: 10px;
    height: 40px;
    line-height: 40px;
}

.textarea .w-e-text-container .w-e-panel-container{
    position: fixed !important;
    top:160px;
}