 
.article{
    font-size: .19rem;
    line-height: .3rem;
}
.article p.align
{
   text-align: center; 
}
/* .article img {
    margin-left: 20%;
} */
.landingHead {
    padding: .13rem 0;
    padding-bottom: .12rem;
    position: relative;
    overflow: hidden;
}

.landingHead h1 {
    color: #000; 
    font-weight: 700;
}
.titleSize {
    font-size: .24rem;
    line-height: .35rem;
} 

.mod, .outmargin {
    border-bottom: .08rem solid #f5f5f5;
}
.mod {
    padding: 0 0 10px;
    max-width: 740px;
    margin: 0 auto;
    /* background: #fff; */
}

