@import './variables';

#quill-editor {
    position: relative;
}

.mention {
    color: $blue;
}

.completions {
    list-style: none;
    margin: 0;
    padding: 0;
    background: $white;
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}
.completions > li {
    margin: 0;
    padding: 0;
}
.completions > li > button {
    box-sizing: border-box;
    height: 2em;
    padding: .25em .5em;
    margin: 0;
    display: block;
    width: 100%;
    text-align: left;
    border: none;
    background: none;
}
.completions > li > button:hover {
    background: $light-gray;
}
.completions > li > button:focus {
    background: $light-gray;
    outline: none;
}
.completions > li > button > .matched {
    font-weight: bold;
    color: black;
}
.completions > li > button > * {
    vertical-align: middle;
}
.emoji_completions {
    list-style: none;
    margin: 0;
    border: 1px solid rgba(0,0,0,.15);
    padding: 6px;
    background: $white;
    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(0,0,0,.12);

    li {
        margin: 2px 0;
        padding: 0;
        display: inline-block;
        // margin-right: 2px;
        // margin-bottom: 2px;
        &:not(:last-of-type) {
            margin-right: 3px;
        }
    }

}



.emoji_completions > li > button {
    box-sizing: border-box;
    padding: 3px 2px 6px;
    margin: 0;
    display: block;
    width: 100%;
    text-align: left;
    border: none;
    background: #efefef;
    // border: 1px solid $cyan;
    border-radius: 3px;
    // text-shadow: 0 1px rgba(0,0,0,.1);

}

.emoji_completions > li > button:hover {
            background: $cyan;
            color: $white;
}
.emoji_completions > li > button:focus {
            background: $cyan;
            outline: none;
            color: $white;
}
.emoji_completions>li>button.emoji-active{background:red;background:#2d9ee0;outline:none;color:#fff}
.emoji_completions > li > button > .matched {
            font-weight: bold;
}
.emoji_completions > li > button > * {
            vertical-align: middle;
}

.ico {
    margin-right: 5px;
    font-size: 18px;
    line-height: 0;
    vertical-align: middle;
}
#emoji-palette {
    position: absolute;
    max-width: 250px;
    z-index: 999;
    box-shadow: 0 5px 10px rgba(0,0,0,.12);
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.15);
}
.bem {
    font-size: 24px;
    width: 34px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin:2px;

}
#tab-filters {
    width: 210px;
    margin: 0px auto;
    margin-top: 20px;
}
.emoji-tab {
    display: inline-table;
    text-align: center;
    width: 30px;
    height: 100%;
    min-height: 30px;
    cursor: pointer;
}
#tab-toolbar {
    background-color: #f7f7f7;
    padding: 4px 4px 0;
    border-bottom: 1px solid rgba(0,0,0,.15);
}
#tab-toolbar ul{
    margin:0px;
    padding:0px;
}
#tab-toolbar .active {
    border-bottom: 3px solid #2ab27b;
}
#tab-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 220px;
    overflow-y: scroll;
    padding: 2px;
    background: $white;

}

#quill-editor x-contain, contain {
  background: #ffbb88;
  display: block;
}

#quill-editor table {
  width: 100%;
  border-collapse: collapse;
}

#quill-editor table td {
  border: 1px solid black;
  padding: 5px;
  height: 25px;
}

button.ql-table::after { content: "TABLE"; }
.ql-picker.ql-table .ql-picker-label::before { content: "TABLE"; }
button.ql-contain::after { content: "WRAP"; }
button.ql-table[value="append-row"]::after { content: "ROWS+"; }
button.ql-table[value="append-col"]::after { content: "COLS+"; }

.ql-table,
.ql-contain {
  width: auto !important;
  margin-right: -15px;
}
#emoji-close-div{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.textarea-emoji-control{
  width: 25px;
  height: 25px;
  right:4px;
  top:10px;
}
#textarea-emoji {
  position: absolute;
  right:0px;
  max-width: 250px;
  z-index: 999;
  border: 1px solid #66afe9;
  box-shadow: 0 5px 10px rgba(0,0,0,.12);
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.15);
}
.ql-editor{
  padding-right:26px;
}


.button-emoji {
  margin-bottom: -5px;
}

.ql-emojiblot {
  display: inline-block;
  vertical-align: text-top;


}