/*头部样式*/

header {
    height: 0.82rem;
    
    background: $color1;
    padding: 0 0.1rem 0 0.2rem;
    .headerBox{
        line-height: 0.82rem;
    }
    .header-time {
        font-size: $font-size2;
        float: left;
        i {
            margin-right: 0.08rem;
            font-size: 0.19rem;
        }
    }
    .header-logo {
        width: 25%;
        text-align: center;
        margin: 0 auto;
        .header-logo__box {
            cursor: pointer;
            height: 0.82rem;
            vertical-align: middle;
            img {
                line-height: 0.75rem;
                margin-top: -0.15rem;
                width: 0.46rem;
            }
            span {
                font-size: 0.3rem;
                font-weight: bold;
                margin: 0 0.15rem 0 0.1rem;
            }
            i {
                color: $color4;
                font-size: $font-size0;
                position: relative;
                top: -0.05rem;
            }
        }
        .header-logo__dropdown {
            display: none;
            background: $color1;
            width: 3.6rem;
            margin: 0 auto;
            text-align: left;
            font-size: $font-size2;
            position: relative;
            z-index: 10;
            top: 0.08rem;
            box-shadow: 0 0.09rem 0.62rem #231d50;
            &:before {
                content: '';
                width: 0;
                height: 0;
                border-left: 0.08rem solid transparent;
                border-right: 0.08rem solid transparent;
                border-bottom: 0.08rem $color1 solid;
                position: absolute;
                top: -0.08rem;
                left: 50%;
                margin-left: -0.04rem;
            }
            ul {
                a {
                    color: #fff;
                }
                li {
                    line-height: 0.54rem;
                    padding: 0 0.2rem;
                    border-left: 0.05rem solid $color5;
                    @include transition;
                    cursor: pointer;
                    span {
                        opacity: 0.6;
                    }
                    i {
                        float: right;
                        opacity: 0.6;
                    }
                    &:hover {
                        border-left: 0.05rem solid $color6;
                        @include gradientLine;
                        i {
                            opacity: 1;
                        }
                        span {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    .header-logon {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        width: 1.2rem;
        .icon-sign {
            display: block;
            text-align: center;
            font-size: 0.3rem;
            cursor: pointer;
            color: $color4;
            @include transition;
            &:hover {
                color: $color3;
            }
        }
        .header-logon__dropdown {
            width: 1.2rem;
            background: $color1;
            text-align: center;
            display: none;
            box-shadow: 0rem 0.09rem 0.62rem #231d50;
            div {
                line-height: 0.5rem;
                height: 0.5rem;
                cursor: pointer;
                color: $color4;
                @include transition;
                &:hover {
                    color: $color3;
                }
            }
            i {
                margin-right: 0.05rem;
            }
            .gradientLine {
                width: 100%;
            }
            .icon-pwd {
                display: inline-block;
                transform: rotate(45deg);
            }
        }
    }
}

content {
    margin-top: 0.2rem;
    padding: 0 0.1rem;
    display: block;
    @include clearfix;
    width: 19.2rem;
    box-sizing: border-box;
}

/*登录页*/

.loginBox {
    background: #eceff4 url(../img/login-bg.jpg) no-repeat;
    background-size: 100%;
    text-align: center;
    .login-logo {
        margin-top: 0.9rem;
        margin-bottom: 0.9rem;
    }
    .loginBox__con {
        background: $color3 url(../img/small-login-bg.jpg) no-repeat;
        background-size: 100%;
        width: 4rem;
        padding: 0 0.45rem;
        height: 6.6rem;
        margin: 0 auto;
        box-shadow: 0 0.09rem 0.62rem #dedede;
        border-radius: 0.1rem;
        position: relative;
        .alert {
            display:none;
            width: 1.5rem;
            height: 0.24rem;
            line-height: 0.24rem;
            background: #f50000;
            border-radius: 0.05rem;
            position: absolute;
            left: 50%;
            margin-left: -0.75rem;
            top: 2.6rem;
            i {
                margin-right: 0.05rem;
            }
        }
        .user-logo {
            margin: 1.45rem 0 0.25rem;
            border-radius: 50%;
        }
        li {
            margin: 0.25rem auto 0;
            height: 0.56rem;
            border: #f1f0ed solid 1px;
            padding: 0.01rem;
            position: relative;
            input {
                width: 100%;
                height: 100%;
                background-color: #f3f3f4;
                padding-left: 0.53rem;
                color: #444649 !important;
                border: none;
            }
            .userName {
                background: #f3f3f4 url('../img/icon-user.png') no-repeat 15px center;
            }
            .passWord {
                background: #f3f3f4 url('../img/icon-pass.png') no-repeat 15px center;
            }
            .tip {
                display: none;
                position: absolute;
                background: #f50000;
                width: 1.26rem;
                height: 0.24rem;
                line-height: 0.24rem;
                text-align: center;
                border-radius: 0.05rem;
                left: 3.3rem;
                top: 0.15rem;
                &::before {
                    content: '';
                    width: 0;
                    height: 0;
                    border-top: 0.04rem solid transparent;
                    border-bottom: 0.04rem solid transparent;
                    border-right: 0.06rem #f50000 solid;
                    position: absolute;
                    left: -0.06rem;
                    top: 0.08rem;
                }
            }
        }
        .login-btn {
            display: block;
            width: 100%;
            height: 0.48rem;
            border-radius: 0.06rem;
            background: $color6;
            line-height: 0.48rem;
            text-align: center;
            font-size: $font-size2;
            margin: 0.25rem auto 0;
            color: $color3;
            &:hover {
                opacity: 0.7;
            }
        }
        .login-forget {
            margin-top: 0.15rem;
            color: #848484;
            text-align: left;
        }
    }
}

/*第一屏*/

.fist-content-l {
    width: 4.4rem;
    float: left;
    overflow: hidden;
    .content-l__fist {
        height: 3rem;
        @include modular;
        .content__box {
            margin-top: 0.1rem;
            position: relative;
            @include clearfix;
            .gradientLine {
                position: absolute;
                top: 50%;
                width: 100%;
            }
            .gradientLine--vertical {
                height: 100%;
                position: absolute;
                left: 50%;
            }
            >div {
                float: left;
                width: 50%;
                padding: 0.2rem 0.15rem 0.15rem 0.15rem;
                box-sizing: border-box;
                .date {
                    font-size: $font-size0;
                    color: $color7;
                }
                .number {
                    margin: 0.05rem 0 0.1rem;
                    line-height: 0.3rem;
                    height: 0.3rem;
                    strong {
                        font-size: 0.24rem;
                    }
                    span {
                        font-size: $font-size0;
                        float: right;
                        line-height: 0.35rem;
                    }
                }
                .ratio {
                    button {
                        float: right;
                    }
                }
            }
        }
    }
    .content-l__second {
        height: 6.15rem;
        margin-top: 0.15rem;
        @include modular;
        .content__box {
            padding: 0.2rem;
            .wordCloud {
                margin-top: 0.35rem;
                margin-bottom: 0.2rem;
                width: 100%;
                height: 4.19rem;
                img {
                    width: 100%;
                }
            }
        }
    }
}

.fist-content-r {
    width: 14.45rem;
    height: 9.3rem;
    float: right;
    @include modular;
    background: $color1 url(../img/grid.png) repeat;
    .content__box {
        position: relative;
        height: 8.74rem;
    }
    .map-box__map {
        width: 10.88rem;
        height: 8.65rem;
        position: absolute;
        bottom: 0.1rem;
        left: 1.3rem
    }
    .map-box__diagram {
        width: 1.51rem;
        height: 2.21rem;
        position: absolute;
        bottom: 0.1rem;
        left: 11.3rem
    }
    .map-box__legend {
        width: 0.4rem;
        height: 3.63rem;
        position: absolute;
        bottom: 0.25rem;
        left: 13.4rem
    }
    .explain-box {
        position: absolute;
        bottom: 0.2rem;
        left: 0.2rem
    }
    img {
        width: 100%;
    }
}

/*第二屏 */

.second-content-l {
    float: left;
    width: 7.9rem;
    height: 9.3rem;
    @include modular;
    .exposure-top {
        span {
            float: left;
            width: 33%;
        }
    }
    .exposure-con__item {
        height: 1.58rem;
        overflow: hidden;
        h2 {
            margin-top: 0.1rem;
            padding-left: 0.2rem;
            .ranking {
                font-weight: normal;
                color: $color7;
                font-size: $font-size0;
                margin-right: 0.2rem;
                strong {
                    font-weight: bold;
                    font-size: 0.24rem;
                    color: $color3;
                }
            }
            .game-title {
                font-size: $font-size2;
            }
        }
        >div {
            height: 1rem;
            line-height: 1rem;
            @include clearfix;
            .gradientLine--vertical {
                height: 0.5rem;
                margin-top: 0.25rem;
                float: left;
                @include gradientLine--vertical(0.7);
            }
        }
        .col-3 {
            @include col(33%);
        }
        .imgBox {
            padding-left: 0.2rem;
            .medal {
                width: 0.4rem;
            }
            .game {
                max-width: 1.4rem;
            }
        }
        .number {
            color: $color7;
            text-align: center;
            strong {
                font-size: 0.24rem;
                color: $color3;
            }
        }
        .progressbar {
            float: left;
            margin: 0 0.15rem 0 0.2rem;
            width: 1.6rem;
            height: 0.2rem;
            background: #1d2b61;
            border-radius: 0.4rem;
            margin-top: 0.4rem;
            position: relative;
        }
        .progess {
            height: 100%;
            border-radius: 0.4rem;
        }
        .percentCount {
            float: right;
            padding-right: 0.2rem;
            font-size: $font-size2;
            font-weight: bold;
        }
    }
    .exposure-con__item--first {
        .progess {
            width: 80%;
            @include gradient(right, #f095ff, #f64848)
        }
    }
    .exposure-con__item--second {
        .progess {
            width: 76%;
            @include gradient(left, #d278f2, #fcc989)
        }
    }
    .exposure-con__item--third {
        .progess {
            width: 59%;
            @include gradient(right, #f5d961, #fe9c88)
        }
    }
    .exposure-con__item--fourth {
        .progess {
            width: 38%;
            @include gradient(left, #80f9b7, #9abdeb)
        }
    }
    .exposure-con__item--fifth {
        .progess {
            width: 22%;
            @include gradient(left, #64a1ff, #8bfcfe)
        }
    }
}

.second-content-r {
    float: right;
    width: 10.95rem;
    height: 9.3rem;
    @include modular;
    .content__box {
        padding: 0 0.3rem;
    }
    .chart-top {
        div {
            width: 20%;
        }
    }
    .chart {
        width: 10.39rem;
        height: 7.71rem;
        img {
            width: 100%;
        }
    }
}

/*第二屏具体页面*/

.swiper-tab {
    .swiper-nav {
        height: 0.56rem;
        line-height: 0.56rem;
        background: linear-gradient(to right, rgba(32, 38, 66, 0), rgba(32, 38, 66, 1), rgba(32, 38, 66, 0));

        .gradientLine {
            @include gradientLine(0.35)
        }
        .swiper-nav__con {
            height: 0.56rem;
            line-height: 0.56rem;
            position:relative;
            margin: 0 auto;
            .swiper-nav-slide {
                float: left;
                opacity: 0.8;
                img {
                    width: 100%;
                    border-radius: 50%;
                    border: 0.01rem solid #5e92d9;
                }
            }
            .swiper-nav-slide-active {
                font-size: 0.24rem;
                font-weight: bold;
                color: #fefeff;
                margin: 0;
                opacity: 1;
                img {
                    width: 0.5rem;
                    height: 0.5rem;
                    margin-right: 0.1rem;
                    border-radius: 0;
                    border: 0;
                    margin-top: -0.05rem;
                }
            }
        }
    }
    .swiper-container {
        margin-top: 0.2rem;
    }
}

.secondTow-content-l {
    float: left;
    width: 7.9rem;
    .content-l__fist {
        height: 3.9rem;
        @include modular;
        .content__box {
            padding: 0.29rem 0.2rem 0.2rem 0.15rem;
            @include clearfix;
        }
        .content__box__l {
            float: left;
            width: 3.03rem;
            li {
                width: 100%;
                height: 1.32rem;
                border-radius: 0.05rem;
                padding: 0.15rem;
                @include gradient(left, #64a1ff, #8bfcfe);
                &:nth-child(2) {
                    margin-top: 0.2rem;
                    @include gradient(left, #f5d961, #fe9c88);
                    .number {
                        text-shadow: 0px 7px 10px #d86c2e;
                    }
                }
                h2 {
                    font-size: $font-size2;
                }
                .number {
                    text-align: center;
                    font-size: 0.36rem;
                    margin: 0.1rem 0;
                    text-shadow: 0px 7px 10px #0f8edb;
                    font-weight: bold;
                }
                .date {
                    text-align: center;
                }
            }
        }
        .content__box__r {
            float: right;
            width: 4.3rem;
            h2 {
                color: $color7;
                font-weight: normal;
                font-size: $font-size1;
                margin-bottom: 0.1rem;
                span {
                    font-size: $font-size3;
                    font-weight: bold;
                    @include gradient(bottom, #64a1ff, #8bfcfe);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            li {
                @include clearfix;
                margin-bottom: 0.19rem;
                div {
                    float: left;
                    font-weight: bold;
                }
                .progressbar {
                    margin: 0.05rem 0.15rem 0;
                    @include progressbar(2.5rem, 0.1rem);
                    .progess {
                        height: 100%;
                        border-radius: 0.4rem;
                        width: 56%;
                        @include gradient(right, #f095ff, #f64848)
                    }
                }
            }
        }
    }
    .content-l__second {
        margin-top: 0.15rem;
        height: 4.48rem;
        @include modular;
        .content__box {
            padding: 0.2rem 0.15rem 0.15rem 0.15rem;
            @include clearfix;
        }
        .content__box__l {
            float: left;
            width: 5.6rem;
            height: 3.4rem;
            .swiper-container {
                margin-top: 0;
                .swiper-wrapper {
                    width: 5.6rem;
                    height: 3.14rem;
                    img {
                        width: 100%;
                    }
                }
                .swiper-pagination {
                    text-align: center;
                    line-height: 0.25rem;
                    span {
                        @include pagination;
                        &.swiper-pagination-bullet-active {
                            @include gradient(left, #64a1ff, #8bfcfe)
                        }
                    }
                }
            }
        }
        .content__box__r {
            float: left;
            width: 2rem;
            height: 3.4rem;
            padding: 0 0.3rem;
            div {
                width: 1.14rem;
                height: 1.19rem;
                margin: 0.2rem auto;
            }
        }
    }
}

.secondTow-content-r {
    float: right;
    width: 10.95rem;
    .content-r__fist {
        height: 3.9rem;
        @include modular;
        .chart {
            width: 10.37rem;
            height: 2.79rem;
            margin: 0.2rem auto 0;
            img {
                width: 100%;
            }
        }
    }
    .content-r__second {
        margin-top: 0.15rem;
        height: 4.48rem;
        @include modular;
        .chart-top {
            div {
                width: 16.6%;
            }
        }
        .chart {
            width: 10rem;
            height: 2.85rem;
            margin: 0.15rem auto 0;
            img {
                width: 100%;
            }
        }
    }
}

/*第三屏*/

.third-content-l {
    float: left;
    width: 11.35rem;
    height: 9.3rem;
    @include modular;
    .exposure-top {
        .col-2 {
            padding: 0.12rem 0;
            p {
                @include gradient(bottom, #64a1ff, #8bfcfe);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                line-height: 0.28rem;
            }
            .title__txt {
                font-size: 0.18rem;
                font-weight: bold;
            }
        }
    }
    .exposure-con {
        height: 3.2rem;
        @include clearfix;
        .top {
            height: 0.5rem;
            line-height: 0.5rem !important;
            .li__r {
                padding-right: 1rem;
                float: right;
            }
            span {
                font-size: $font-size3;
                font-weight: bold;
                height: 0.5rem;
                line-height: 0.5rem !important;
                padding-left: 0.4rem;
                @include gradient(bottom, #64a1ff, #8bfcfe);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        .col-2 {
            height: 3.2rem;
            ul {
                li {
                    height: 0.9rem;
                    position: relative;
                    .li__l {
                        padding-left: 0.2rem;
                        font-size: $font-size3;
                        font-weight: bold;
                        line-height: 1.2rem;
                    }
                    .li__r {
                        float: right;
                        padding-right: 0.3rem;
                        padding-top: 0.2rem;
                        .percentCount {
                            font-size: $font-size0;
                            span {
                                font-size: $font-size2;
                                font-weight: bold;
                            }
                        }
                        .progressbar {
                            margin-top: 0.1rem;
                            @include progressbar(2.95rem, 0.2rem);
                        }
                        .progess {
                            height: 100%;
                            border-radius: 0.4rem;
                        }
                    }
                    .gradientLine {
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                    }
                    &:nth-child(1) {
                        .progess {
                            width: 80%;
                            @include gradient(right, #f095ff, #f64848)
                        }
                    }
                    &:nth-child(2) {
                        .progess {
                            width: 65%;
                            @include gradient(left, #64a1ff, #8bfcfe)
                        }
                    }
                    &:nth-child(3) {
                        .progess {
                            width: 50%;
                            @include gradient(left, #80f9b7, #9abdeb)
                        }
                    }
                }
            }
            .chart {
                width: 5.27rem;
                height: 2.57rem;
                margin: 0.4rem auto 0.2rem;
                img {
                    width: 100%;
                }
            }
        }
        i {
            float: left;
            height: 100%;
            @include gradientLine--vertical(0.5);
        }
    }
    .chart-top {
        div {
            width: 33%;
        }
    }
    .chart {
        width: 11rem;
        height: 3.05rem;
        margin: 0.1rem auto 0;
        img {
            width: 100%;
        }
    }
}

.third-content-r {
    float: right;
    width: 7.5rem;
    height: 9.3rem;
    @include modular;
    .top {
        height: 0.63rem;
        line-height: 0.63rem;
        span {
            font-size: $font-size3;
            font-weight: bold;
            margin-left: 0.7rem;
            @include gradient(bottom, #64a1ff, #8bfcfe);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .li__r {
            margin-left: 18%;
        }
    }
}

.carousel {
    li {
        height: 0.51rem;
        line-height: 0.51rem;
        .num {
            display: inline-block;
            width: 0.42rem;
            height: 0.18rem;
            line-height: 0.18rem;
            color: #38457c;
            font-weight: bold;
            text-align: center;
            @include gradient(bottom, #64a1ff, #8bfcfe);
            border-radius: 0.4rem;
            margin: 0 0.15rem;
        }
        .mediaName {
            font-weight: bold;
        }
        .new {
            margin-left: 15%;
        }
        &:nth-child(odd) {
            background: #38457c;
        }
    }
    .pagination {
        line-height: 0.45rem;
        text-align: center;
        span {
            @include pagination;
            &.swiper-pagination-bullet-active {
                @include gradient(left, #64a1ff, #8bfcfe)
            }
        }
    }
}

/*第四屏*/

.fourth-content-l {
    float: left;
    width: 7.9rem;
    height: 9.3rem;
    @include modular;
    p{
        line-height: 0.1rem;
        margin-left: 0.15rem;
        color:#b2b9db;
        font-size:0.12rem;
    }
    .ranking-box {
        @include clearfix;
        
        li {
            margin: 0.07rem 0.15rem 0rem;
            position: relative;
            h2 {
                height: 0.4rem;
                line-height: 0.4rem;
                position: relative;
                z-index: 3;
                padding-left: 0.5rem;
                img {
                    position: absolute;
                    top: 0.05rem;
                    left: 0;
                    width: 0.4rem;
                }
                strong {
                    font-size: 0.24rem;
                }
                .ranking {
                    font-weight: normal;
                    font-size: $font-size0;
                    color: $color7;
                    margin-right: 0.1rem;
                }
                .game-title {
                    font-size: $font-size2;
                }
            }
            .li__img {
                width: 3.64rem;
                height: 2.06rem;
                position: relative;
                z-index: 1;
            }
            .tr-box {
                position: absolute;
                bottom: 0.15rem;
                right: 0.15rem;
                z-index: 3;
                height: 0.3rem;
                line-height: 0.3rem;
                .gradientLine--vertical {
                    margin: 0 0.1rem;
                    display: inline-block;
                    height: 0.3rem;
                    @include gradientLine--vertical(0.7);
                }
                span {
                    strong {
                        font-size: 0.4rem;
                        @include gradient(bottom, #f5d961, #fe9c88);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                    i {
                        font-style: normal;
                        font-size: $font-size0;
                        position: relative;
                        top: -0.2rem;
                    }
                }
                .span--r {
                    strong {
                        @include gradient(bottom, #80f9b7, #9abdeb);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
                .span--cvr {
                    strong {
                        @include gradient(bottom, #e8c3fd, #86c5fc);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }
            .bg {
                position: absolute;
                width: 100%;
                height: 0.8rem;
                background: linear-gradient(bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0));
                bottom: 0;
                z-index: 2;
            }
            &.active {
                .li__img {
                    border: 0.01rem solid #8bfcfe;
                    box-shadow: 0.03rem 0.09rem 0.3rem #64a1ff;
                    width: 3.64rem;
                }
                .bg {
                    width: 3.62rem;
                    bottom: 1px;
                    left: 1px;
                }
            }
        }
        .gradientLine {
            float: left;
            width: 0.01rem;
            height: 7.7rem;
            @include gradientLine--vertical(0.7);
        }
    }
}

.fourth-content-r {
    float: right;
    width: 10.95rem;
    height: 9.3rem;
    @include modular;
    .carousel__top {
        padding: 0.2rem 0 0.25rem;
        margin: 0 auto;
        img {
            float: left;
            width: 0.57rem;
            margin-right: 0.15rem;
            margin-top: 0.2rem;
        }
        .ranking {
            display: block;
            font-size: $font-size3;
            color: $color7;
            strong {
                font-size: 0.36rem;
            }
        }
        .game-title {
            display: inline-block;
            font-weight: bold;
            font-size: 0.3rem;
        }
    }
    .carousel__con {
        .swiper-wrapper {
            width: 10.65rem;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
        .swiper-pagination {
            text-align: center;
            span {
                @include pagination;
                &.swiper-pagination-bullet-active {
                    @include gradient(left, #64a1ff, #8bfcfe)
                }
            }
        }
        .carousel__col {
            @include clearfix;
            height: 1.2rem;
            margin-top: -0.08rem;
            .box {
                width: 1.14rem;
                height: 1.19rem;
                img {
                    width: 100%;
                }
            }
            .gradientLine--vertical {
                float: left;
                height: 100%;
            }
            .carousel__col--l {
                padding-right: 0.5rem;
                float: right;
            }
            .carousel__col--r {
                padding-left: 0.5rem;
                float: left;
            }
        }
    }
}

/*第五屏*/

.fifth-content-l {
    float: left;
    width: 13rem;
    height: 9.3rem;
    @include clearfix;
    .content-l__fist {
        height: 3.48rem;
        @include modular;
    }
    .content-l__second {
        margin-top: 0.15rem;
        height: 5.67rem;
        @include modular;
    }
    .col-2 {
        height: 3.2rem;
        .top {
            height: 0.64rem;
            margin: 0.05rem 0;
            .num {
                float: left;
                font-size: 0.48rem;
                padding: 0 0.15rem 0 0.2rem;
                text-shadow: 0px 7px 10px #0f8edb;
            }
            p {
                font-size: $font-size0;
                font-weight: bold;
                padding: 0.05rem 0;
                text-shadow: 0px 3px 10px #0f8edb;
                strong {
                    font-size: $font-size2;
                }
            }
            button {
                i {
                    margin-right: 0;
                }
            }
        }
        .chart {
            width: 6.09rem;
            height: 1.97rem;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
    }
    .gradientLine--vertical {
        float: left;
        height: 2.92rem;
    }
    .content__box__l {
        float: left;
        position: relative;
        width: 9.4rem;
        height: 4.43rem;
        margin: 0.34rem 0.45rem 0.34rem 0.5rem;
        
    }
    .content__box__r {
        float: left;
        width: 2.65rem;
        text-align: center;
        padding-top: 0.2rem;
        h2 {
            text-align: left;
            margin-top: 0.1rem;
            span {
                font-weight: normal;
                font-size: $font-size3;
                color: $color7;
            }
            i {
                display: block;
                width: 0.36rem;
                height: 0.03rem;
                margin-top: 0.05rem;
                @include gradient(left, #fe9c88, #f5d961);
            }
        }
        strong {
            display: block;
            font-size: 0.3rem;
            margin: 0.25rem auto 0.3rem;
        }
        .gradientLine {
            width: 1.52rem;
            margin: 0 auto;
        }
        .gameBox {
            img{
                width: 1.4rem;
                height: 0.7rem;
            }
            strong {
                margin: 0rem auto 0.3rem;
            }
        }
        .dateBox {
            h2 {
                i {
                    width: 1.1rem;
                }
            }
        }
    }
}

.fifth-content-r {
    float: right;
    width: 5.85rem;
    height: 9.3rem;
    @include modular;
    .top {
        height: 0.63rem;
        line-height: 0.63rem;
        span {
            font-size: $font-size3;
            font-weight: bold;
            margin-left: 0.8rem;
            @include gradient(bottom, #64a1ff, #8bfcfe);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            em {
                font-size: $font-size0;
                font-style: normal;
            }
        }
    }
    .carousel {
        li {
            .ranking {
                float: left;
                width: 38%;
                font-weight: bold;
            }
            .amount {
                float: left;
                text-align: center;
                width: 15%;
                font-size: $font-size3;
                font-weight: bold;
            }
            .progress-box {
                float: right;
                width: 45%;
            }
            .progressbar {
                float: left;
                margin-top: 0.15rem;
                @include progressbar(1.68rem, 0.2rem);
                .progess {
                    height: 100%;
                    border-radius: 0.4rem;
                    width: 56%;
                    @include gradient(left, #64a1ff, #8bfcfe);
                }
            }
            .percentCount {
                float: right;
                font-size: $font-size3;
                font-weight: bold;
                margin: 0 0.15rem 0 0.1rem;
            }
        }
    }
}

.fifth-content-l .content__box__l {
    float: left;
    position: relative;
    width: 9.4rem;
    height: 4.7rem;
    margin: 0.3rem 0.45rem 0.34rem 0.5rem;
}

.slide-3d .item-list li {
    width: 8.4rem;
    height: 4.7rem;
    transition: all 0.5s ease-out;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.slide-3d .item-list li img {
    width: 100%;
}

/*无连接页面*/

.nolink {
    width: 100%;
    height: 100%;
    background: url(../img/nolink-bg.png) no-repeat center 1.36rem;
    text-align: center;
    font-size: 0.36rem;
    img {
        margin-top: 1.36rem;
    }
}

footer {
    line-height: 0.48rem;
    height: 0.48rem;
    font-size: $font-size0;
    color: $color7;
    text-align: right;
    padding: 0 0.15rem;
    .left {
        float: left;
    }
}

/*弹窗*/
.modal{
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display:none;
    .modal-mask{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: $color1;
        background-color: rgba(48,60,105,0.78);
        height: 100%;
        z-index: 1000;
        filter: alpha(opacity=70);
    }
    .modal-content{
        width: 2.65rem;
        height:2.69rem;
        margin:0 auto;
        background: #fff;
        position: relative;
        z-index: 1001;
        top:50%;
        margin-top:-1.34rem;
        .alert{
            display:none;
            width: 2rem;
            height: 0.24rem;
            line-height: 0.24rem;
            background: #f50000;
            border-radius: 0.05rem;
            position: absolute;
            left: 50%;
            margin-left: -1rem;
            top: 0.07rem;
            text-align: center;
            i {
                margin-right: 0.05rem;
            }
        }
        .modal-close{
            position: absolute;
            top: 0.1rem;
            right:0.1rem;
            font-size:0.13rem;
            color:#113462;
            opacity: 0.45;
            cursor: pointer;
        }
        .modal-body{
            padding-top:0.45rem;
            .inputBox{
                position: relative;
                .tip{
                    display: none;
                    position: absolute;
                    background: #f50000;
                    width: 0.8rem;
                    height: 0.24rem;
                    line-height: 0.24rem;
                    text-align: center;
                    border-radius: 0.05rem;
                    left: 2.5rem;
                    top: 0.04rem;
                    &::before {
                        content: '';
                        width: 0;
                        height: 0;
                        border-top: 0.04rem solid transparent;
                        border-bottom: 0.04rem solid transparent;
                        border-right: 0.06rem #f50000 solid;
                        position: absolute;
                        left: -0.06rem;
                        top: 0.08rem;
                    }
                }
            }
            
            input{
                width: 2.19rem;
                height: 0.32rem;
                line-height: 0.32rem;
                background: #ebebeb;
                border:none;
                margin:0 auto;
                display: block;
                border-radius: 0.05rem;
                padding: 0 0.15rem;
            }
            .o-password{
                margin-bottom:0.15rem;
            }
            p{
                color:#e7970e;
                font-size:0.12rem;
                text-align: center;
                margin:0.05rem 0;
            }
        }
        .modal-footer{
            margin:0.2rem 0;
            text-align: center;
            button{
                width: 0.8rem;
                height: 0.34rem;
                line-height: 0.34rem;
                color:#fff;
                cursor: pointer;
                &:hover{
                    height: 0.32rem;
                    border-bottom:0.02rem;
                }
            }
            
            .btn-sure{
                background: #f3b03e;
                border-bottom:0.03rem solid #f19e39;
                margin-right:0.5rem;
                &:hover{
                    border-bottom:0.02rem solid #f19e39;
                }
            }
            .btn-close{
                background: #cacaca;
                border-bottom:0.03rem solid #b1b1b1;
                &:hover{
                    border-bottom:0.02rem solid #b1b1b1;
                }
            }
        }
    }
}