*,
*:before,
*:after {
    @include box-sizing('content-box');
    padding: 0;
    margin: 0;
}

body {
    font-family: $font-family;
    font-size: $font-size1;
    background: $color2;
    color: $color3;
}

body,
div,
dl,
dt,
dd,
del,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
button,
input,
select,
textarea,
p,
blockquote,
th,
td,
figure {
    margin: 0;
    padding: 0;
}

ol,
ul,
li {
    list-style: none;
}

a {
    color: $color1;
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: middle;
}

button {
    background: none;
    border: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/**
* 一些公用样式
*/
/*等分*/
.col-2{
    @include col(49.9%);
}
.col-3{
    @include col(33%);
}
/*渐变线*/

.gradientLine {
    display: block;
    height: 0.01rem;
    @include gradientLine;
}

.gradientLine--vertical {
    display: block;
    width: 0.01rem;
    @include gradientLine--vertical;
}

.gradientLine--lr {
    display: block;
    height: 0.01rem;
    @include gradientLine--lr;
}

.gradientLine--full {
    display: block;
    height: 0.01rem;
    @include gradientLine(1);
}

/*模块标题*/

.title-box {
    background: $color1;
    border-radius: 0.06rem 0.06rem 0 0;
}

.title {
    height: 0.56rem;
    line-height: 0.54rem;
    text-align: center;
    color: #fff;
    background: linear-gradient(left, rgba(59, 74, 130, 0), rgba(59, 74, 130, 1), rgba(59, 74, 130, 0));
    background: -ms-linear-gradient(left, rgba(59, 74, 130, 0), rgba(59, 74, 130, 1), rgba(59, 74, 130, 0));
    background: -moz-linear-gradient(left, rgba(59, 74, 130, 0), rgba(59, 74, 130, 1), rgba(59, 74, 130, 0));
    background: -webkit-linear-gradient(left, rgba(59, 74, 130, 0), rgba(59, 74, 130, 1), rgba(59, 74, 130, 0));
    background: -o-linear-gradient(left, rgba(59, 74, 130, 0), rgba(59, 74, 130, 1), rgba(59, 74, 130, 0));
    box-shadow: 0px 9px 62px #231d50;
    .gradientLine {
        @include gradientLine(0.38);
    }
    .title__txt {
        font-size: 0.2rem;
    }
}

.title--sub {
    text-align: center;
    color: #fff;
    background: linear-gradient(left, rgba(59, 74, 130, 0), rgba(59, 74, 130, 1), rgba(59, 74, 130, 0));
    background: -ms-linear-gradient(left, rgba(59, 74, 130, 0), rgba(59, 74, 130, 1), rgba(59, 74, 130, 0));
    background: -moz-linear-gradient(left, rgba(59, 74, 130, 0), rgba(59, 74, 130, 1), rgba(59, 74, 130, 0));
    background: -webkit-linear-gradient(left, rgba(59, 74, 130, 0), rgba(59, 74, 130, 1), rgba(59, 74, 130, 0));
    background: -o-linear-gradient(left, rgba(59, 74, 130, 0), rgba(59, 74, 130, 1), rgba(59, 74, 130, 0));
    box-shadow: 0px 9px 62px #231d50;
    .gradientLine {
        @include gradientLine(0.38);
    }
    .title__box {
        padding: 0.06rem 0;
        .title__txt {
            font-size: 0.2rem;
        }
        .title__sub {
            font-size: $font-size0;
            ;
            color: $color7;
            font-weight: normal;
        }
    }
}

/*解释说明文字*/

.explain {
    line-height: 0.24rem;
    font-weight: bold;
    color: $color7;
}

.description {
    line-height: 0.24rem;
    color: $color7;
    font-size: $font-size0;
    ;
}

/*比率按钮*/

.ratio {
    button {
        width: 1rem;
        height: 0.18rem;
        line-height: 0.18rem;
        font-size: $font-size0;
        color: $color3;
        border-radius: 0.1rem;
        margin-top: 0.01rem;
        i {
            font-size: $font-size0;
            margin-right: 0.08rem;
        }
    }
    .ratio--up {
        background: linear-gradient(left, rgba(186, 4, 15, 1), rgba(255, 66, 0, 1));
    }
    .ratio--down {
        background: linear-gradient(left, rgba(0, 126, 33, 1), rgba(0, 181, 47, 1));
    }
    .ratio--flat {
        background: linear-gradient(left,#045aba,  #009cff);
    }
}

.exposure-top {
    height: 0.8rem;
    line-height: 0.8rem;
    box-shadow: 0 0.09rem 0.58rem #202d5c;
    text-align: center;
    @include clearfix;
    span {
        font-weight: bold;
        font-size: $font-size3;
        @include gradient(bottom, #64a1ff, #8bfcfe);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    i {
        float: left;
        height: 0.3rem;
        margin: 0.25rem 0;
        @include gradientLine--vertical(0.5);
    }
}

.chart-top {
    @include clearfix;
    div {
        float: left;
        height: 0.6rem;
        line-height: 0.6rem;
        font-weight: bold;
        text-align: center;
        img {
            margin-right: 0.1rem;
            width: 0.48rem;
        }
    }
}