@mixin clearfix {
    zoom: 1;
    &:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

/*过渡属性*/

@mixin transition ($time:0.5s) {
    transition: all $time ease 0s;
    -moz-transition: all $time ease 0s;
    -webkit-transition: all $time ease 0s;
    -o-transition: all $time ease 0s
}

/*透明度渐变线*/

@mixin gradientLine($opacity:0.15) {
    background: linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, $opacity), rgba(255, 255, 255, 0));
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, $opacity), rgba(255, 255, 255, 0));
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, $opacity), rgba(255, 255, 255, 0));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, $opacity), rgba(255, 255, 255, 0));
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, $opacity), rgba(255, 255, 255, 0));
}

@mixin gradientLine--vertical($opacity:0.15) {
    background: linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, $opacity), rgba(255, 255, 255, 0));
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, $opacity), rgba(255, 255, 255, 0));
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, $opacity), rgba(255, 255, 255, 0));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, $opacity), rgba(255, 255, 255, 0));
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, $opacity), rgba(255, 255, 255, 0));
}

@mixin gradientLine--lr($direction:left) {
    background: -webkit-linear-gradient($direction, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0));
    background: -moz-linear-gradient($direction, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0));
    background: -ms-linear-gradient($direction, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0));
    background: -o-linear-gradient($direction, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0));
    background: linear-gradient($direction, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0));
}

/*两种纯色渐变*/

@mixin gradient($direction:right, $color1:#fff, $color2:#fff) {
    background: linear-gradient($direction, $color1, $color2);
    background: -webkit-linear-gradient($direction, $color1, $color2);
    background: -moz-linear-gradient($direction, $color1, $color2);
    background: -ms-linear-gradient($direction, $color1, $color2);
    background: -o-linear-gradient($direction, $color1, $color2);
}

/*等分*/

@mixin col ($col:100%) {
    float: left;
    width: $col;
}

/*模块统一样式*/

@mixin modular {
    background: $color1;
    border-radius: 0.06rem;
    overflow: hidden;
    box-shadow: 0 0.09rem 0.62rem #171b2e;
}

/*进度条*/

@mixin progressbar($width:0, $height:0) {
    width: $width;
    height: $height;
    background: #1d2b61;
    border-radius: 0.4rem;
    position: relative;
}

/*轮播小圆点*/

@mixin pagination($color:#7f8da4) {
    width: 0.08rem;
    height: 0.08rem;
    display: inline-block;
    margin: 0 0.05rem;
    background: $color;
    border-radius: 50%;
}
