$color1: #303c69; // 主体颜色
$color2:#191c33;//body背景色
$color3:#fff;//白色
$color4:#8796dc;
$color5:#3d4e8f;
$color6:#1197dd;
$color7:#b2b9db;//解释说明字体颜色

//font-size
$font-size0:0.12rem;
$font-size1:0.14rem;//默认字体大小
$font-size2:0.16rem;
$font-size3:0.18rem;
//font
$font-family:Microsoft YaHei;
