<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/swiper.min.css">
    <link rel="stylesheet" href="/static/css/slide.css">

    <script src="/static/lib/libs.js?v=2018072001" type="text/javascript"></script>
    <script src="/static/lib/d3.js?v=2018072001" type="text/javascript"></script>
    <script src="/static/lib/echarts4.js?v=2018072001" type="text/javascript"></script>
    <style>
        .carousel li {
            height: 0;
            opacity: 0;
        }
        header .header-logo {
            width: 38%;
        }
    </style>
    <title>腾讯可视化</title>
</head>

<body>
<div class="wrap">
    <header id="header"></header>
    <content>
        <section class="fifth-content-l">
            <div class="content-l__fist">
                <h2 class="title--sub">
                    <span class="gradientLine"></span>
                    <div class="title__box">
                        <p class="title__txt">新闻发布情况总览</p>
                        <p class="title__sub" id="js-week1"></p>
                    </div>
                    <span class="gradientLine--full"></span>
                </h2>
                <div class="content__box" id="js-newsPublishOverview">

                </div>
            </div>
            <div class="content-l__second">
                <h2 class="title--sub">
                    <span class="gradientLine"></span>
                    <div class="title__box">
                        <p class="title__txt">新闻报道案例</p>
                        <p class="title__sub" id="js-week2"></p>
                    </div>
                    <span class="gradientLine--full"></span>
                </h2>
                <div class="content__box" id="js-newsPublishCases">

                </div>
            </div>
        </section>
        <section class="fifth-content-r">
            <h2 class="title">
                <span class="gradientLine"></span>
                <span class="title__txt">
                        <span id="js-month"></span>月游戏产品新闻发布一览</span>
                <span class="gradientLine--full"></span>
            </h2>
            <div class="content__box" id="js-gameNewsStatisticsByMonth"></div>
        </section>
    </content>
    <footer>
            <span class="left">数据来源：媒介广告投放后台；数据获取时间：
                <span id="js-getDate"></span>
            </span>
        树洞可视化平台由IEG市场部媒介中心、数据中心 联合SNK、捷报数据共同打造
    </footer>
</div>

</body>

</html>