<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/lib/libs.js" type="text/javascript"></script>

    <title>腾讯可视化</title>
</head>

<body style="background:#eceff4">
    <div class="wrap" style="background:#eceff4">
        <div class="loginBox">
            <img class="login-logo" src="/static/img/login-logo.png" />
            <div class="loginBox__con">
                <img class="user-logo" src="/static/img/user.jpg" />
                <div class="alert">
                    <i class="iconfont icon-zhuyi"></i>
                    <span></span>
                </div>
                <ul>
                    <li class="login_user">
                        <input autocomplete="off" class="userName" id="UserName" name="UserName" placeholder="" type="text" value="">
                        <div class="tip">
                            <span>用户名不能为空</span>
                        </div>
                    </li>
                    <li class="login_pass">
                        <input autocomplete="off" class="passWord" id="Password" name="Password" type="password">
                        <div class="tip">
                            <span>账号密码不能为空</span>
                        </div>
                    </li>
                </ul>
                <button class="login-btn">登&nbsp&nbsp录</button>
                <div class="login-forget">
                    <input data-val="true" data-val-required="记住密码" id="RememberMe" name="RememberMe" type="checkbox" value="true">
                    <span>记住密码</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>