<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" href="/static/css/styles.css?v=2018072001">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/swiper.min.css?v=2018072001">
    <link rel="stylesheet" href="/static/css/index.css?v=2018072001">

    <script src="/static/lib/libs.js?v=2018072001" type="text/javascript"></script>
    <script src="/static/lib/echarts4.js?v=2018072001" type="text/javascript"></script>
    <script src="/static/lib/d3.js?v=2018072001" type="text/javascript"></script>

    <title>腾讯可视化</title>
</head>

<body>
<div class="wrap">
    <header id="header"></header>
    <content>
        <section class="third-content-l">
            <div>
                <h2 class="title">
                    <span class="gradientLine"></span>
                    <span class="title__txt">网站曝光贡献</span>
                    <span class="gradientLine--full"></span>
                </h2>
                <div class="content__box">
                    <section>
                        <div class="exposure-top">
                            <div class="col-2">
                                <p class="title__txt">单日曝光量TOP 3</p>
                                <p class="title__sub topImpressionsDate1"></p>
                            </div>
                            <i class="gradientLine--vertical"></i>
                            <div class="col-2">
                                <p class="title__txt">单日曝光环比增长率TOP 3</p>
                                <p class="title__sub topImpressionsDate2"></p>
                            </div>
                        </div>
                        <div class="exposure-con">
                            <div class="col-2">
                                <div class="top">
                                    <span class="li__l">网站</span>
                                    <span class="li__r">单日曝光</span>
                                </div>
                                <ul id="js-imTop3"></ul>
                            </div>
                            <i class="gradientLine--vertical"></i>
                            <div class="col-2">
                                <div class="chart" id="js-bar3">
                                </div>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="exposure-top">
                            <span>曝光趋势(近7日）</span>
                        </div>
                        <div class="chart" id="js-trend">

                        </div>
                    </section>
                </div>
            </div>
        </section>
        <section class="third-content-r">
            <h2 class="title">
                <span class="gradientLine"></span>
                <span class="title__txt">重点合作网站近期舆情</span>
                <span class="gradientLine--full"></span>
            </h2>
            <div class="content__box">
                <h2 class="top">
                    <span class="li__l">网站名称</span>
                    <span class="li__r">相关主题</span>
                </h2>
                <div class="carousel">
                    <div class="swiper-container" id="js-yqbox">
                        <div class="swiper-wrapper" >

                        </div>
                    </div>
                    <div class="pagination">
                        <div class="swiper-pagination" id="yq"></div>
                    </div>
                </div>
            </div>
        </section>
    </content>
    <footer>
        <span class="left">数据来源：广告投放曝光点击数据来源O2系统和第三方监测公司，新闻舆情来源腾讯新闻；数据获取时间：<span id="js-getDate"></span></span>
        树洞可视化平台由IEG市场部媒介中心、数据中心 联合SNK、捷报数据共同打造
    </footer>
</div>

</body>

</html>