<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>

    <title>腾讯可视化2</title>
    <script src="static/lib/libs.js" type="text/javascript"></script>
</head>

<body>
<header>
    <div class="header-time">
        123
    </div>
    <div class="content">
        <div class="fist-content-l">
            422
        </div>
    </div>
</header>
</body>

</html>