<!DOCTYPE HTML>
<!--

-->
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<title>subDomain proxy</title>
	<script src="js/jquery.js"></script>
</head>
<body>

<script>
document.domain = "localhost";
//document.body.innerText=document.body.textContent=decodeURIComponent(window.location.search.slice(1));
</script>
</body>
</html>
