<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="resouse" stopProcessing="true">
                    <match url="resource/?(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://localhost:8401/{R:1}" />
                </rule>
                <rule name="swagger" stopProcessing="true">
                    <match url="swagger/?(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://localhost:8401/{R:1}" />
                </rule>
                <rule name="admin" enabled="false" stopProcessing="true">
                    <match url="admin/?(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://localhost:8402/{R:1}" />
                </rule>
                <rule name="yuanxing" stopProcessing="true">
                    <match url="yuanxing/?(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://localhost:8411/{R:1}" />
                </rule>
                <rule name="Api" stopProcessing="true">
                    <match url="api/?(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://localhost:8401/api/{R:1}" />
                </rule>
                <rule name="wechat_api" stopProcessing="true">
                    <match url=".+" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{URL}" pattern="/wechatapi/(.*)" />
                    </conditions>
                    <action type="Rewrite" url="http://127.0.0.1:5555/{C:1}" logRewrittenUrl="true" />
                </rule>

                <rule name="Handle History Mode and custom 404/500" stopProcessing="true">
                      <match url="(.*)" />
                      <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                      </conditions>
                      <action type="Rewrite" url="/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
