<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>账号列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/js/layui/css/layui.css" media="all">

    <link rel="stylesheet" href="/css/element-ui.css" media="all">
    <link rel="stylesheet" href="/css/common.css" media="all">

    <script src="/js/store2.min.js" charset="utf-8"></script>
    <script src="/js/jquery/jquery.min.js" charset="utf-8"></script>
    <script src="/js/lodash.min.js" charset="utf-8"></script>
    <script src="/js/vue.min.js" charset="utf-8"></script>
    <script src="/js/element-ui.js"></script>
    <script src="/js/zh-CN.js"></script>
    <script src="/js/moment.min.js"></script>
</head>

<body>

<div class="el-container" id="editor">
    <el-main>
        <div class="el-row">
            <div class="el-col" :span="24">
                <div id="sentence_search">
                    <el-form ref="form" :inline="true"
                             label-width="50px"
                             size="small"
                             class="sentence-form">
                        <el-form-item label="平台："
                                      label-width="50">
                            <el-select v-model="platForm"
                                       placeholder="全部"
                                       size="small"
                                       style="width:120px"
                            >
                                <el-option
                                        v-for="(item, k) in platformList"
                                        :key="item"
                                        :label="item"
                                        :value="item">
                                </el-option>
                            </el-select>
                        </el-form-item>

                        <el-form-item label="启停状态："
                                      label-width="50">
                            <el-select v-model="status"
                                       placeholder="全部"
                                       size="small"
                                       style="width:120px"
                            >

                                <el-option key="-1" label="全部" value="-1">
                                </el-option>
                                <el-option key="1" label="启用" value="-1">
                                </el-option>
                                <el-option key="0" label="停用" value="-1">
                                </el-option>
                            </el-select>
                        </el-form-item>

                        <el-form-item label="异常类别："
                                      label-width="50">
                            <el-select v-model="eStatus"
                                       placeholder="全部"
                                       size="small"
                                       style="width:120px"
                            >
                                <el-option key="9" label="全部" :value="9"></el-option>
                                <el-option key="0" label="正常" :value="0"></el-option>
                                <el-option key="1" label="异常" :value="1"></el-option>
                            </el-select>
                        </el-form-item>

                        <el-form-item label="关键字：" label-width="50">
                            <el-input
                                    style="width:120px"
                                    v-model="key"
                                    placeholder=""></el-input>
                        </el-form-item>

                        <el-form-item>
                            <el-button size="small" type="primary" @click="addOpen">添加</el-button>
                        </el-form-item>
                        <el-form-item>
                            <el-button size="small" type="primary" @click="search">查询</el-button>
                        </el-form-item>

                        <el-form-item>
                            <el-button size="small" type="primary" @click="exportTaskExcel">导出</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </div>
        </div>

        <el-row>
            <el-col :span="24">
                <el-table
                        :data="list"
                        :border="true"
                        :stripe="true"
                        size="mini"
                        style="width:100%;"
                >
                    <el-table-column
                            label="序号"
                            type="index"
                            width="80"
                            :index="indexMethod"
                    ></el-table-column>

                    <el-table-column
                            prop="name"
                            label="账号名称"
                            width="200"
                    ></el-table-column>

                    <el-table-column
                            prop="category"
                            label="分类"
                            width="100"
                    ></el-table-column>

                    <el-table-column
                            prop="platform"
                            label="平台"
                            width="100"
                    >
                    </el-table-column>

                    <el-table-column
                            prop="status"
                            label="启停状态"
                            width="100"
                    >
                    </el-table-column>

                    <el-table-column
                            prop="normal"
                            label="异常状态"
                            width="100"
                    >
                    </el-table-column>

                    <el-table-column
                            prop="readCnt"
                            label="阅读数"
                            width="100"
                    >
                    </el-table-column>

                    <el-table-column
                            prop="可发布文章分类"
                            label="publishTypes"
                            width="100"
                    >
                    </el-table-column>

                    <el-table-column
                            prop="fansCnt"
                            label="粉丝数"
                            width="100"
                    >
                    </el-table-column>

                    <el-table-column
                            prop="publishInterval"
                            label="发布间隔"
                            width="100"
                    >
                    </el-table-column>

                    <el-table-column
                            label="发布时段"
                            width="100"
                    >
                        <template scope-slot="scopt">
                            {{scope.row.timeStart + "-" + scope.row.timeEnd}}
                        </template>
                    </el-table-column>

                    <el-table-column
                            label="操作"
                    >
                        <template slot-scope="scope">
                            <el-button type="primary" size="mini" @click="editOpen(scope.row)">编辑</el-button>
                            <el-button type="primary" size="mini" @click="accountStop(scope.row)">
                                {{scope.row.status===1?"停用":"启用"}}
                            </el-button>
                            <el-button type="primary" size="mini"
                                       v-if="scope.row.estatus===1"
                                       @click="statusOpen(scope.row)">正常
                            </el-button>
                            <el-button type="primary" size="mini" @click="publishOpen(scope.row)">
                                {{scope.row.enablePublish===1?"停止":"自动"}}发布
                            </el-button>
                            <el-button type="primary" size="mini" @click="cookieOpen(scope.row)">刷新cookie</el-button>
                        </template>
                    </el-table-column>

                </el-table>
            </el-col>
        </el-row>

        <el-row>
            <el-col :span="24">
                <!-- 分页 -->
                <div class="pagination-block">
                    <el-pagination
                            @current-change="search"
                            :current-page.sync="page"
                            :page-size="size"
                            layout="prev, pager, next, jumper"
                            :total="count">
                    </el-pagination>
                </div>
            </el-col>
        </el-row>


        <el-dialog
                title="账号"
                :visible.sync="addDialogVisible"
                width="50%"
                custom-class="article-category-form"
        >
            <el-form ref="addForm"
                     label-width="90px"
                     :model="form"
                     size="small">

                <el-form-item label="平台："
                              label-width="50">
                    <el-select v-model="form.platform"
                               placeholder="全部"
                               size="small"
                               style="width:120px"
                    >
                        <el-option
                                v-for="(item, k) in platformList"
                                :key="item"
                                :label="item"
                                :value="item">
                        </el-option>
                    </el-select>
                </el-form-item>

                <el-form-item label="账号名称：" label-width="50">
                    <el-input
                            style="width:200px"
                            v-model="form.name"
                            placeholder=""></el-input>
                </el-form-item>


                <el-form-item label="账号分类："
                              label-width="50">
                    <el-select v-model="form.category"
                               placeholder="全部"
                               size="small"
                               style="width:120px"
                    >
                        <el-option
                                v-for="(item, k) in accountTypeList"
                                :key="item"
                                :label="item"
                                :value="item">
                        </el-option>
                    </el-select>
                </el-form-item>

                <el-form-item label="文章分类："
                              label-width="50">
                    <el-select v-model="form.publishTypes"
                               placeholder="全部"
                               size="small"
                               multiple
                               style="width:120px"
                    >
                        <el-option
                                v-for="(item, k) in articleTypeList"
                                :key="item"
                                :label="item"
                                :value="item">
                        </el-option>
                    </el-select>
                </el-form-item>

                <el-form-item label="AppID：" label-width="50">
                    <el-input
                            style="width:200px"
                            v-model="form.appId"
                            placeholder=""></el-input>
                </el-form-item>

                <el-form-item label="AppToken：" label-width="50">
                    <el-input
                            style="width:200px"
                            v-model="form.appToken"
                            placeholder=""></el-input>
                </el-form-item>

            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="cancelAdd">取 消</el-button>
                <el-button type="primary" @click="addAjaxItem">确 定</el-button>
            </div>
        </el-dialog>

    </el-main>
</div>


<script src="/config.js" charset="utf-8"></script>
<script src="/scripts/Dictionaries.js" charset="utf-8"></script>
<script src="/scripts/Common.js" charset="utf-8"></script>

<script src="/scripts/mymedia/accounts.js" charset="utf-8"></script>
</body>

</html>