<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />

                <rule name="admin" enabled="true" stopProcessing="true">
                    <match url="admin/?(.*).(css|js|jpg|gif|png|ico)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    </conditions>
                    <action type="Rewrite" url="http://192.168.1.2/{R:1}.{R:2}" />
                </rule>

                <rule name="Handle History Mode and custom 404/500" enabled="true" stopProcessing="true">
                  <match url="admin/?(.*)" />
                  <conditions logicalGrouping="MatchAll">
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                  </conditions>
                  <action type="Rewrite" url="http://192.168.1.2/admin/{R:1}" logRewrittenUrl="true" />
                </rule>

            </rules>
        </rewrite>
    </system.webServer>
</configuration>
