 * {
     margin: 0;
     padding: 0;
 }

 .wrap {
    box-shadow: 0px 0px 18px #e0e0e0;
 }

 /*清浮动---clearfix*/

 .clearfix {
     *zoom: 1;
 }

 .clearfix:after {
     content: "";
     clear: both;
     display: block;
     height: 0;
     font-size: 0;
     visibility: hidden;
 }

 .blist {
     height: 40px;
     /* border: 1px solid #ccc; */
 }
 .blist::after {
     content: "";
     display: block;
     height: 0;
     clear: both;
     visibility: hidden;
 }

 /* .blist li:first-child {
     border-left: none;
 } */

 .blist li {
     /* list-style: none;
     width: 68px;
     height: 32px;
     border-left: 1px solid #d9d9d9;
     font-size: 14px;
     font-family: "楷体";
     line-height: 32px;
     text-align: center;
     float: left;
     cursor: pointer; */
     /*字体免选中*/
     /* -webkit-user-select: none; */
      float: left;
      height: 38px;
      line-height: 40px;
      margin: 0 10px;
      text-align: center;
      font-size: 16px;
      color: #777777;
      cursor: pointer;
 }
 .blist li i {
     display: block;
     font-size: 0.48rem;
     margin-bottom: 0.2rem;
 }
 .blist .active {
     color: #000;
     font-weight: bold;
     border-bottom: 2px solid #fc8b55;
 }

 .blsit-list {
     padding: 1px 0 0 0;
 }

 .blsit-list li {
     /* list-style: none;
     width: 275px;
     border: 1px solid #ccc;
     height: 200px;
     border-top: none; */
     line-height: 0.36rem;
     height: 100%;
 }

 /* .wrap .blist li.active {
     font-weight: bold;
     color: red;
     border-top: 2px solid red;
     position: relative;
     top: -1px;
     height: 31px;
 } */

 .blsit-list li:first-child {
     display: block;
 }

 .blsit-list li {
     display: none;
 }