$color1: #555555; // 默认字体颜色
$color2: #fff; // 白色
$color3:#129aee; //主体蓝
$color4:#f2f2f2; //导航背景
$color5:#a2a2a2; //导航字体颜色
$color6:#000; //黑色
$color7:#d9d9d9; //细线颜色
$color8:#6f6f6f; //微信用户名颜色
$color9:#a9a9a9; //button-color背景颜色
$color10:#ff4849; //危险红
$color11:#b3b3b3;
$color12:#f24943;//新年红
//font-size
$font-size1:0.24rem;
$font-size2:0.32rem;
$font-size4:0.4rem;
$font-size5:0.26rem;
$font-size6:0.3rem;
$font-size7:1.5rem;
//font
$font-family:Microsoft YaHei,PingFang SC,Hiragino Sans GB;
$font-family1:Helvetica Neue,Arial;
// Default value for border-radius
$default-border-radius: 0.1rem;