@font-face {
    font-family: 'iconfont';
    src: url('fonts/icomoon.eot?1cy4jx');
    src: url('fonts/icomoon.eot?1cy4jx#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?1cy4jx') format('truetype'),
        url('fonts/icomoon.woff?1cy4jx') format('woff'),
        url('fonts/icomoon.svg?1cy4jx#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-wancheng:before {
    content: "\e908";
}

.icon-fabu2:before {
    content: "\e909";
}

.icon-jietu:before {
    content: "\e90a";
}

.icon-daochu1:before {
    content: "\e900";
}

.icon-daochu2:before {
    content: "\e901";
}

.icon-fabu:before {
    content: "\e902";
}

.icon-fanxiang:before {
    content: "\e903";
}

.icon-like:before {
    content: "\e904";
}

.icon-pinglun:before {
    content: "\e905";
}

.icon-search_icon:before {
    content: "\e906";
}

.icon-zhuanxie:before {
    content: "\e907";
}

.icon-close:before {
    content: "\e622";
}

.icon-add:before {
    content: "\e628";
}

.icon-down:before {
    content: "\e60a";
}

.icon-up:before {
    content: "\e60b";
}

.icon-arrow-left2:before {
    content: "\ea40";
}
