<% _.forEach(lists, function(w, y){ %>
<div class="swiper-slide">
    <div class="swiper-container" id="js-pbox<%= y %>">
        <div class="swiper-wrapper">
            <% _.forEach(_.concat(w.ctr, w.cvr), function(v, i){ %>
            <div class="swiper-slide">
                <div class="content__box">
                    <div class="carousel">
                        <div class="css-mid">
                            <div class="carousel__top"
                                 style="width:<%= v.nameWidth %>px">
                                <% if((i%w.ctr.length) == 0) {%>
                                <img src="/static/img/medal/gold-medal.png">
                                <% } %>
                                <% if((i%w.ctr.length) == 1) {%>
                                <img src="/static/img/medal/silver-medal.png">
                                <% } %>
                                <% if((i%w.ctr.length) == 2) {%>
                                <img src="/static/img/medal/bronze-medal.png">
                                <% } %>
                                <span class="ranking">TOP
                                    <% if((i%w.ctr.length) == 0) {%>
                                    <strong style="color:#fdbd00">1</strong>
                                    <% } %>
                                    <% if((i%w.ctr.length) == 1) {%>
                                    <strong style="color:#d7dbde">2</strong>
                                    <% } %>
                                    <% if((i%w.ctr.length) == 2) {%>
                                    <strong style="color:#e0ab08">3</strong>
                                    <% } %>
                                </span>
                                <span class="game-title"><%= v.name %></span>
                            </div>
                        </div>
                        <div class="carousel__con">
                            <div class="swiper-container four-swc" id="bl<%= y %><%= i %>">
                                <div class="swiper-wrapper">
                                    <% if(_.size(v.images)>0) { %>
                                    <% _.forEach(v.images, function(x, k){ %>
                                    <% if(!/mp4/.test(x.path)){ %>
                                    <div class="swiper-slide">
                                        <img src="<%= host+x.path %>" alt="">
                                        <div class="pie carousel__col">
                                            <% if(i<=(w.ctr.length-1)) {%>
                                            <div class="col-2">
                                                <div class="carousel__col--l"
                                                     id="piectr<%= y %><%= i %><%= k %>"></div>
                                            </div>
                                            <i class="gradientLine--vertical" style="width:0.02rem;"></i>
                                            <div class="col-2">
                                                <div class="carousel__col--r"
                                                     id="piemctr<%= y %><%= i %><%= k %>"></div>
                                            </div>
                                            <% }else{ %>
                                            <div class="col-44">
                                                <div class="carousel__col--l"
                                                     id="piecvr<%= y %><%= i %><%= k %>"></div>
                                            </div>
                                            <% } %>

                                        </div>
                                    </div>
                                    <% }else{ %>
                                    <div id="bl<%= y %><%= i %><%= k %>" class="swiper-slide video">
                                        <div class="vv4"></div>
                                        <div class="pie carousel__col">
                                            <% if(i<=(w.ctr.length-1)) {%>
                                            <div class="col-2">
                                                <div class="carousel__col--l"
                                                     id="piectr<%= y %><%= i %><%= k %>"></div>
                                            </div>
                                            <i class="gradientLine--vertical" style="width:0.02rem;"></i>
                                            <div class="col-2">
                                                <div class="carousel__col--r"
                                                     id="piemctr<%= y %><%= i %><%= k %>"></div>
                                            </div>
                                            <% }else{ %>
                                            <div class="col-44">
                                                <div class="carousel__col--l"
                                                     id="piecvr<%= y %><%= i %><%= k %>"></div>
                                            </div>
                                            <% } %>
                                        </div>
                                    </div>
                                    <% } %>

                                    <% }) %>
                                    <% } else { %>
                                    <div class="swiper-slide"><img src="/static/img/slide4.png" alt=""></div>
                                    <% } %>
                                </div>
                                <div class="swiper-pagination js-play4" id="blp<%= y %><%= i %>" nk="<%= y %>"
                                     ni="<%= i %>"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</div>
<% }) %>
